[connectivity]
nk=bert_qkv_kernel:1:qkv1
nk=bert_attn_core_kernel:1:core1
nk=bert_attn_out_norm_residual_kernel:1:out1
nk=bert_ffn_up_gelu_v21_dotpipe_kernel:1:up1
nk=bert_ffn_down_residual_norm_fp32_kernel:1:down1

# The suffix is FIFO depth in 512-bit words, not stream width.
stream_connect=qkv1.q_stream:core1.q_stream:256
stream_connect=qkv1.k_stream:core1.k_stream:256
stream_connect=qkv1.v_stream:core1.v_stream:256
stream_connect=core1.context_stream:out1.context_stream:512
stream_connect=out1.attn_mid_stream:up1.attn_mid_stream:256
stream_connect=out1.ffn_residual_stream:down1.ffn_residual_stream:512
stream_connect=up1.gelu_stream:down1.gelu_stream:512

slr=qkv1:SLR0
slr=core1:SLR1
slr=out1:SLR2
slr=up1:SLR2
slr=down1:SLR3

sp=qkv1.hidden_in:DDR[0]
sp=qkv1.hidden_ready:DDR[0]
sp=qkv1.attn_q_w_all:DDR[0]
sp=qkv1.attn_q_b_all:DDR[0]
sp=qkv1.attn_k_w_all:DDR[1]
sp=qkv1.attn_k_b_all:DDR[1]
sp=qkv1.attn_v_w_all:DDR[2]
sp=qkv1.attn_v_b_all:DDR[2]

sp=core1.attention_mask:DDR[1]

sp=out1.residual_in:DDR[0]
sp=out1.residual_ready:DDR[0]
sp=out1.attn_o_w_all:DDR[2]
sp=out1.attn_o_b_all:DDR[2]
sp=out1.attn_norm_gamma_all:DDR[2]
sp=out1.attn_norm_beta_all:DDR[2]
sp=out1.attn_mid_ddr:DDR[2]
sp=out1.attn_mid_done:DDR[2]

sp=up1.w1:DDR[2]
sp=up1.b1:DDR[2]

sp=down1.w2:DDR[3]
sp=down1.b2:DDR[3]
sp=down1.final_norm_gamma:DDR[3]
sp=down1.final_norm_beta:DDR[3]
sp=down1.output_hidden:DDR[0]
