[connectivity]
nk=bert_qkv_12layer_kernel:1:qkv12
nk=bert_attn_core_12layer_kernel:1:core12
nk=bert_attn_out_norm_12layer_kernel:1:out12
nk=bert_ffn_up_gelu_12layer_kernel:1:up12
nk=bert_ffn_down_norm_feedback_12layer_kernel:1:down12

# Forward streams. Depths are 512-bit words.
stream_connect=qkv12.q_stream:core12.q_stream:256
stream_connect=qkv12.k_stream:core12.k_stream:256
stream_connect=qkv12.v_stream:core12.v_stream:256
stream_connect=core12.context_stream:out12.context_stream:512
stream_connect=out12.attn_mid_stream:up12.attn_mid_stream:256
stream_connect=out12.ffn_residual_stream:down12.ffn_residual_stream:512
stream_connect=up12.gelu_stream:down12.gelu_stream:512

# Device-resident layer state. QKV emits the current input residual before Q/K/V;
# DOWN drains FFN residual before GELU. These orderings prevent a cyclic wait.
stream_connect=qkv12.attention_residual_stream:out12.attention_residual_stream:512
stream_connect=down12.next_hidden_stream:qkv12.next_hidden_stream:512

slr=qkv12:SLR0
slr=core12:SLR1
slr=out12:SLR2
slr=up12:SLR2
slr=down12:SLR3

sp=qkv12.initial_hidden:DDR[0]
sp=qkv12.initial_hidden_ready:DDR[0]
sp=qkv12.attn_q_w_all:DDR[0]
sp=qkv12.attn_q_b_all:DDR[0]
sp=qkv12.attn_k_w_all:DDR[1]
sp=qkv12.attn_k_b_all:DDR[1]
sp=qkv12.attn_v_w_all:DDR[2]
sp=qkv12.attn_v_b_all:DDR[2]

sp=core12.attention_mask:DDR[1]

sp=out12.attn_o_w_all:DDR[2]
sp=out12.attn_o_b_all:DDR[2]
sp=out12.attn_norm_gamma_all:DDR[2]
sp=out12.attn_norm_beta_all:DDR[2]

sp=up12.w1_all:DDR[2]
sp=up12.b1_all:DDR[2]

sp=down12.w2_all:DDR[3]
sp=down12.b2_all:DDR[3]
sp=down12.final_norm_gamma_all:DDR[3]
sp=down12.final_norm_beta_all:DDR[3]
sp=down12.final_output_hidden:DDR[0]

